<div>
  <h1>HORARIOS EN CONSTRUCCIÓN</h1>
</div>
<div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="bloque">
        <mat-header-cell *matHeaderCellDef>Hora</mat-header-cell>
        <mat-cell *matCellDef="let cuenta"> {{cuenta.bloque}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lunes">
        <mat-header-cell *matHeaderCellDef>Lunes</mat-header-cell>
        <mat-cell *matCellDef="let cuenta">
          {{cuenta.lunes.curso}}
          <br/>
          {{cuenta.lunes.sala}}
          <br/>
          {{cuenta.lunes.profesor}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="martes">
        <mat-header-cell *matHeaderCellDef>Martes</mat-header-cell>
        <mat-cell *matCellDef="let cuenta">
          {{cuenta.martes.curso}}
          <br/>
          {{cuenta.martes.sala}}
          <br/>
          {{cuenta.martes.profesor}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="miercoles">
        <mat-header-cell *matHeaderCellDef>Miercoles</mat-header-cell>
        <mat-cell *matCellDef="let cuenta">
          {{cuenta.miercoles.curso}}
          <br/>
          {{cuenta.miercoles.sala}}
          <br/>
          {{cuenta.miercoles.profesor}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jueves">
        <mat-header-cell *matHeaderCellDef>Jueves</mat-header-cell>
        <mat-cell *matCellDef="let cuenta">
          {{cuenta.jueves.curso}}
          <br/>
          {{cuenta.jueves.sala}}
          <br/>
          {{cuenta.jueves.profesor}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="viernes">
        <mat-header-cell *matHeaderCellDef>Viernes</mat-header-cell>
        <mat-cell *matCellDef="let cuenta">
          {{cuenta.viernes.curso}}
          <br/>
          {{cuenta.viernes.sala}}
          <br/>
          {{cuenta.viernes.profesor}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sabado">
        <mat-header-cell *matHeaderCellDef>Sabado</mat-header-cell>
        <mat-cell *matCellDef="let cuenta">
          {{cuenta.sabado.curso}}
          <br/>
          {{cuenta.sabado.sala}}
          <br/>
          {{cuenta.sabado.profesor}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <br/>
</div>

