<div class="example-container">
  <ng-container *ngIf="dataSource$ | async as dataSource">
    <mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <!-- Name Column -->
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef> Codigo</mat-header-cell>
        <mat-cell *matCellDef="let cuenta"> {{cuenta.codigo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
        <mat-cell *matCellDef="let cuenta"> {{cuenta.id}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
        <mat-cell *matCellDef="let cuenta"> {{cuenta.nombre}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="sección">
        <mat-header-cell *matHeaderCellDef> Sección</mat-header-cell>
        <mat-cell *matCellDef="let cuenta"> {{cuenta.seccion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="semestre">
        <mat-header-cell *matHeaderCellDef> Semestre</mat-header-cell>
        <mat-cell *matCellDef="let cuenta"> {{cuenta.semestre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bloque">
        <mat-header-cell *matHeaderCellDef> Bloque</mat-header-cell>
        <mat-cell *matCellDef="let cuenta"> {{cuenta.bloque}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="botonCrear">
        <mat-header-cell *matHeaderCellDef> Crear </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)='crearClase(element)'> + Clase
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="botonAgregarEstudiante">
        <mat-header-cell *matHeaderCellDef> Carga Manual </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)='addStudent(element)'> Carga Estudiante
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="botonAgregarExcel">
        <mat-header-cell *matHeaderCellDef> Excel </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="cargarExcel(element)">
            <app-sheet></app-sheet>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="dataSource.length <= 0">
      <h1>No hay cursos creados.</h1>
    </div>
  </ng-container>
</div>

