.example-spacer {
  flex: 1 1 auto;
}
.nav-bar-space
{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-color: brown;
}
