.nav-bar-space
{
  width: 100%;
  background-position: center ;
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  background-size: cover ;
  background-color: brown;
  height: 10%;
  justify-content: space-between;
}
.div-imagen {
  height: 90%
}

.imagen {
  /* de esta ajustamos la imagen*/
  height: auto;
  width: auto;
  max-height: 90px;
  max-width: 250px;
  /* buscar una mejor forma XD */
}

.items{
  display:flex;
  padding-left: 3px;
  padding-right: 3px;
}

.separador{
  color:white;
}

.menuItem{
  text-decoration: none;
  color: inherit;
}

.active-list-item{
  color: white;
}

.item{
  margin-right: 10px;
  margin-left: 10px;
}
