.gridElement
{
  max-width: 100px;
  max-height: 100px;
}

.close {
  background-color: brown;
  display: compact;
  float: right;
  color: aliceblue;
}

.table{
  overflow-y: scroll;
  max-height: 200px;
  max-width: 1500px;
}
