<div class="divPrincipal">
  <br/>
  <div class="mat-elevation-z8">
    <div class="divTitulo">
      <h1 class="tituloCentral">Listado de Periodos</h1>
      <button mat-stroked-button (click)="createPeriod()">
        Crear Periodo
      </button>
    </div>
  </div>
  <br/>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="tabla">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef > Nombre Periodo </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="anio">
          <th mat-header-cell *matHeaderCellDef> Año </th>
          <td mat-cell *matCellDef="let row"> {{row.anio}} </td>
        </ng-container>

        <ng-container matColumnDef="fechainicio">
          <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
          <td mat-cell *matCellDef="let row"> {{row.fechainicio | date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="fechafin">
          <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
          <td mat-cell *matCellDef="let row"> {{row.fechafin | date:'short'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[2,5, 10]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
<br/>

