.divPrincipal
{
  padding-right: 5%;
  padding-left: 5%;
}

.tabla
{
  width: 100%;
}

.divTitulo
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-inline-start: 1%;
  padding-inline-end: 1%;
}

.centerDivAgregarBloque{
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  max-height: 50px;
  padding: 10px 0 ;
}

.inputYear{
  border-radius: 3px;
  background-color: #F0F0F0;
  width: 80%;
}
