.divPrincipal
{
  padding-right: 5%;
  padding-left: 5%;
}

.divTitulo
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-inline-start: 1%;
  padding-inline-end: 1%;
}


.tabla{
  width: 100%;
}
