<div class="divPrincipal">
  <br/>
  <div class="mat-elevation-z8">
    <div class="divTitulo">
      <h1>Listado de Cursos</h1>
      <button mat-stroked-button (click)="crearCurso()">
        Crear Curso
      </button>
    </div>
  </div>
  <br/>
  <div class="tableContainer">
    <ng-container *ngIf="cursos.length;else cargandoCursos">
      <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="cursos">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <!-- Name Column -->
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> Codigo</mat-header-cell>
            <mat-cell *matCellDef="let cuenta"> {{cuenta.codigo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Profesor">
            <mat-header-cell *matHeaderCellDef> Profesor</mat-header-cell>
            <mat-cell *matCellDef="let cuenta"> {{cuenta.profesor.email}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
            <mat-cell *matCellDef="let cuenta"> {{cuenta.nombre}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="sección">
            <mat-header-cell *matHeaderCellDef> Sección</mat-header-cell>
            <mat-cell *matCellDef="let cuenta"> {{cuenta.seccion}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="semestre">
            <mat-header-cell *matHeaderCellDef> Semestre</mat-header-cell>
            <mat-cell *matCellDef="let cuenta"> {{cuenta.semestre}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </ng-container>
    <ng-template #cargandoCursos>
      <h1>No hay cursos creados.</h1>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>

</div>
