<div>
  <mat-button-toggle class="close" (click)="closeDialog()">
    <mat-icon>clear</mat-icon>
  </mat-button-toggle>

</div>
<div>
  <h2 class="titulo">Formulario Crear Curso</h2>
</div>
<br/>
<div>
  <mat-stepper>
    <mat-step [stepControl]="crearCursoForm">
      <div class="centerDiv">
        <form [formGroup]="crearCursoForm">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Profesor</mat-label>
              <mat-select formControlName="id" [ngModel]="profesorActual" (ngModelChange)="onChangeProfesor($event)">
                <div *ngIf="profesores$ | async as profesores">
                  <mat-option *ngFor="let profesor of profesores" [value]="profesor.email">{{profesor.nombre}}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field >
              <mat-label>Codigo</mat-label>
              <input matInput name="Codigo" type="text" placeholder="98AS_D1" formControlName="codigo">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field >
              <mat-label>Nombre Curso</mat-label>
              <input matInput name="Nombre" type="text" placeholder="Electivo sin elección" formControlName="nombre">
            </mat-form-field>
          </div>
          <div >
            <mat-form-field >
              <mat-label>Sección</mat-label>
              <input matInput placeholder="A" formControlName="seccion">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Semestre</mat-label>
              <mat-select formControlName="semestre">
                <mat-option value="semestre 1">Primer semestre</mat-option>
                <mat-option value="semestre 2">Segundo semestre</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Fecha de Inicio</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="anio">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step>
      <div class="centerDiv">
        <div>
          <mat-label>Dia</mat-label>
          <mat-select [(value)]="diaActual">
            <mat-option *ngFor="let dia of dias" [value]="dia">
              {{dia}}
            </mat-option>
          </mat-select>
        </div>
        <div>
          <mat-label>Bloque</mat-label>
          <mat-select [(value)]="bloqueActual">
            <mat-option *ngFor="let bloque of bloques" [value]="bloque">
              {{bloque}}
            </mat-option>
          </mat-select>
        </div>
        <div>
          <button mat-flat-button color="primary">Agregar Bloque</button>
        </div>
      </div>
      <div class="example-container">
        <table mat-table [dataSource]="listadoBloques" class="tabla">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="Dia">
            <mat-header-cell *matHeaderCellDef> Dia </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Bloque">
            <mat-header-cell *matHeaderCellDef> Bloque </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
      </div>
    </mat-step>
  </mat-stepper>
  <div class="AcceptButton">
      <button mat-flat-button color="primary"  (click)="crearCurso()" [disabled]="crearCursoForm.invalid">Crear Curso</button>
  </div>
</div>


